.card_1{
    max-width: 255px;
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
    border-radius: 10px;
    padding: 62px 60px 24px 24px;
}
.card_1 h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
}
.card_1 h3{
    margin-top: -5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.card_2{
    background: #FFFFFF;
    border-radius: 10px;    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 255px;
    padding: 24px 40px 24px 24px;
    margin-top: 24px;
}
.btn{
    background: #F2F4FF;
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4661E6;
}
.card_3{
    background: #FFFFFF;
    border-radius: 10px;    
    max-width: 255px;
    padding: 24px 40px 24px 24px;
    margin-top: 24px;
}
.head{
    display: flex;
    justify-content: space-between;
}
.head h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}
.head a{
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
}
.listt li{
    display: flex;
    justify-content: space-between;
}
.li h1{
    font-size: 16px;
    line-height: 23px;
    color: #647196;
}
.li h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
}
@media (min-width: 426px) and (max-width: 768px) {
    .list-unstyled {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } 
    .card_1{
        max-width: 223px;
        height: 178px;
        padding: 80px 40px 24px 24px;
    }
    .card_2{
        margin: 0;
        padding: 24px 18px 36px 24px;
    }
    .card_3{
        margin: 0;
        padding: 19px 24px 24px 24px;
    }
}